/* CSS Reset by Josh Comeau */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    3. Allow percentage-based heights in the application
  */
  html, body {
    height: 100%;
  }
  /*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    6. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    7. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    8. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    9. Create a root stacking context
  */
#root, #__next {
    isolation: isolate;
}
/* Custom Colors */
:root {
    --primary-200: hsl(215, 51%, 70%);
    --primary-400: hsl(178, 100%, 50%);
    --primary-400-overlay: hsla(178, 100%, 50%, 0.6);

    --neutral-100: hsl(0, 0%, 100%);
    --neutral-500: hsl(215, 32%, 27%);
    --neutral-700: hsl(216, 50%, 16%);
    --neutral-900: hsl(217, 54%, 11%);
}

/* Typography */
p {
    font-size: 18px;
    color: var(--primary-200);
}
body {
    font-family: "Outfit", sans-serif;
    background: var(--neutral-900);
    color: var(--neutral-100);
}

/* Utility Classes */

.container {
    /* centering redundant in this example, but would be useful in other cases */
    margin: 0 auto;
    max-width: 350px;
}

.card {
    border-radius: 15px;
    background: var(--neutral-700);
    padding: 1.5rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
}
.space-btw {
    justify-content: space-between;
}

.inline-blk {
    display: inline-block;
}

/* Centering */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-container {
  position: relative;
}
.img-container img {
    border-radius: 10px;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}





h1 {
    font-size: 1.4rem;
    margin: 1.2rem 0;
}


#info  {
    padding: 1rem 0;
    border-bottom: 1px solid var(--neutral-500);
}
#info img {
    height: 18px;
    margin-right: 0.5rem;
}
#info p {
    font-size: 1rem;
}
#info .start p {
    color:var(--primary-400);
}
.start, .end {
    align-items: center;
}
.creator {
    margin: 1rem 0 0.5rem 0;
    font-weight: 300;

}
.creator img {
    height: 35px;
    border: 1px solid var(--neutral-100);
    border-radius: 50%;
    margin-right: 1rem;
}
.creator p {
    align-self: center;
}

.name {
    color: var(--neutral-100);
}

/* Hover states */

.middle {
transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
width: 100%;
height: 100%;
background-color: var(--primary-400-overlay);
display: flex;
justify-content: center;
align-items: center;
}
.middle img {
  height: 50px;
  width: auto;
}

.img-container:hover .middle{
  opacity: 1;
  cursor: pointer;
}

h1:hover, 
.name:hover {
  cursor: pointer;
  color: var(--primary-400);
}
/* Attribution */
footer {
    color: var(--neutral-100);
    font-size: 20px;
}

.attribution { 
    font-size: 16px; 
    text-align: center; 
    margin-top: 2rem;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}